/* line 5, ../../../app/sass/common/nav.sass */
#nav {
  padding: 20px 0 0;
}
/* line 8, ../../../app/sass/common/nav.sass */
#nav li, #nav span {
  float: left;
  display: inline;
  -webkit-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
}
/* line 12, ../../../app/sass/common/nav.sass */
#nav a {
  height: 68px;
  display: block;
}
/* line 16, ../../../app/sass/common/nav.sass */
#nav a:hover {
  border-bottom: 15px #4daae8 solid;
}
/* line 19, ../../../app/sass/common/nav.sass */
#nav .selected {
  border-bottom: 15px #0066cc solid;
}
/* line 22, ../../../app/sass/common/nav.sass */
#nav span {
  display: block;
  width: 100%;
  height: 68px;
  -moz-opacity: 0;
  -khtml-opacity: 0;
  opacity: 0;
  filter: alpha(opacity=0);
}

/* line 28, ../../../app/sass/common/nav.sass */
.en #nav-about {
  width: 177px;
  margin-right: 78px;
  background: url('/img/sprite-s4603adcd52.png') no-repeat 0 -136px;
  _-pie-background: url('/img/sprite-s4603adcd52.png') no-repeat 0 -136px;
  _behavior: url(/PIE.htc);
}

/* line 33, ../../../app/sass/common/nav.sass */
.en #nav-works {
  width: 171px;
  margin-right: 85px;
  background: url('/img/sprite-s4603adcd52.png') no-repeat 0 -1622px;
  _-pie-background: url('/img/sprite-s4603adcd52.png') no-repeat 0 -1622px;
  _behavior: url(/PIE.htc);
}

/* line 38, ../../../app/sass/common/nav.sass */
.en #nav-contact {
  width: 215px;
  margin-right: 79px;
  background: url('/img/sprite-s4603adcd52.png') no-repeat 0 -680px;
  _-pie-background: url('/img/sprite-s4603adcd52.png') no-repeat 0 -680px;
  _behavior: url(/PIE.htc);
}

/* line 43, ../../../app/sass/common/nav.sass */
.en #nav-blog {
  width: 155px;
  background: url('/img/sprite-s4603adcd52.png') no-repeat 0 -408px;
  _-pie-background: url('/img/sprite-s4603adcd52.png') no-repeat 0 -408px;
  _behavior: url(/PIE.htc);
}

/* line 47, ../../../app/sass/common/nav.sass */
.tw #nav-about {
  width: 210px;
  margin-right: 72px;
  background: url('/img/sprite-s4603adcd52.png') no-repeat 0 -204px;
  _-pie-background: url('/img/sprite-s4603adcd52.png') no-repeat 0 -204px;
  _behavior: url(/PIE.htc);
}

/* line 52, ../../../app/sass/common/nav.sass */
.tw #nav-works {
  width: 130px;
  margin-right: 74px;
  background: url('/img/sprite-s4603adcd52.png') no-repeat 0 -1690px;
  _-pie-background: url('/img/sprite-s4603adcd52.png') no-repeat 0 -1690px;
  _behavior: url(/PIE.htc);
}

/* line 57, ../../../app/sass/common/nav.sass */
.tw #nav-contact {
  width: 217px;
  margin-right: 71px;
  background: url('/img/sprite-s4603adcd52.png') no-repeat 0 -748px;
  _-pie-background: url('/img/sprite-s4603adcd52.png') no-repeat 0 -748px;
  _behavior: url(/PIE.htc);
}

/* line 62, ../../../app/sass/common/nav.sass */
.tw #nav-blog {
  width: 186px;
  background: url('/img/sprite-s4603adcd52.png') no-repeat 0 -476px;
  _-pie-background: url('/img/sprite-s4603adcd52.png') no-repeat 0 -476px;
  _behavior: url(/PIE.htc);
}

/* line 66, ../../../app/sass/common/nav.sass */
.en #nav-about.selected, .en #nav-about:hover {
  background: url('/img/sprite-s4603adcd52.png') no-repeat 0 0;
  _-pie-background: url('/img/sprite-s4603adcd52.png') no-repeat 0 0;
  _behavior: url(/PIE.htc);
}

/* line 69, ../../../app/sass/common/nav.sass */
.en #nav-works.selected, .en #nav-works:hover {
  background: url('/img/sprite-s4603adcd52.png') no-repeat 0 -1486px;
  _-pie-background: url('/img/sprite-s4603adcd52.png') no-repeat 0 -1486px;
  _behavior: url(/PIE.htc);
}

/* line 72, ../../../app/sass/common/nav.sass */
.en #nav-contact.selected, .en #nav-contact:hover {
  background: url('/img/sprite-s4603adcd52.png') no-repeat 0 -544px;
  _-pie-background: url('/img/sprite-s4603adcd52.png') no-repeat 0 -544px;
  _behavior: url(/PIE.htc);
}

/* line 75, ../../../app/sass/common/nav.sass */
.en #nav-blog.selected, .en #nav-blog:hover {
  background: url('/img/sprite-s4603adcd52.png') no-repeat 0 -272px;
  _-pie-background: url('/img/sprite-s4603adcd52.png') no-repeat 0 -272px;
  _behavior: url(/PIE.htc);
}

/* line 78, ../../../app/sass/common/nav.sass */
.tw #nav-about.selected, .tw #nav-about:hover {
  background: url('/img/sprite-s4603adcd52.png') no-repeat 0 -68px;
  _-pie-background: url('/img/sprite-s4603adcd52.png') no-repeat 0 -68px;
  _behavior: url(/PIE.htc);
}

/* line 81, ../../../app/sass/common/nav.sass */
.tw #nav-works.selected, .tw #nav-works:hover {
  background: url('/img/sprite-s4603adcd52.png') no-repeat 0 -1554px;
  _-pie-background: url('/img/sprite-s4603adcd52.png') no-repeat 0 -1554px;
  _behavior: url(/PIE.htc);
}

/* line 84, ../../../app/sass/common/nav.sass */
.tw #nav-contact.selected, .tw #nav-contact:hover {
  background: url('/img/sprite-s4603adcd52.png') no-repeat 0 -612px;
  _-pie-background: url('/img/sprite-s4603adcd52.png') no-repeat 0 -612px;
  _behavior: url(/PIE.htc);
}

/* line 87, ../../../app/sass/common/nav.sass */
.tw #nav-blog.selected, .tw #nav-blog:hover {
  background: url('/img/sprite-s4603adcd52.png') no-repeat 0 -340px;
  _-pie-background: url('/img/sprite-s4603adcd52.png') no-repeat 0 -340px;
  _behavior: url(/PIE.htc);
}
