/* line 3, ../../../app/sass/common/sub_nav.sass */
#sub-nav {
  font-size: 24px;
  padding: 20px 0;
}
/* line 7, ../../../app/sass/common/sub_nav.sass */
#sub-nav h4 {
  font-size: 20px;
}
/* line 10, ../../../app/sass/common/sub_nav.sass */
#sub-nav li {
  float: left;
  display: inline;
}
/* line 13, ../../../app/sass/common/sub_nav.sass */
#sub-nav a {
  -pie-watch-ancestors: 1;
  -webkit-background-clip: padding-box;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -o-border-radius: 3px;
  -khtml-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px;
  -pie-lazy-init: true;
  behavior: url(/PIE.htc);
  padding: 8px;
  margin: 0 15px 0 0;
  display: block;
  position: relative;
}
/* line 25, ../../../app/sass/common/sub_nav.sass */
#sub-nav a:hover {
  background: #777777;
  color: white;
}
/* line 30, ../../../app/sass/common/sub_nav.sass */
#sub-nav .ui-tabs-selected a {
  background: #aaaaaa;
  color: white;
}
